<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")    
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/default")
    @RenderSection("scripts", required: false)

</body>
</html>
